<configuration>
  <system.webServer>

    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to hello.js node.js application; for example, the following URLs will 
    all be handled by index.js:
 
		http://localhost/vapi/webhook/xxx
		http://localhost/vapi/webhook/yyy
        
		or
		
		http://localhost/vapi/webadp/node/xxx or http://localhost/node/vapi/webhook/xxx
		if down first rule is uncommented
		
    -->

    <rewrite>
      <!--rules>
        <rule name="node">
          <match url="node/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules-->
	  
	  <rules>
        <rule name="fullfillmentt">
          <match url="nodejs/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
    
  </system.webServer>
</configuration>
